.hive-member-table
	{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
	}

.hive-member-table tbody tr td.edit
	{
	opacity: 0;
	}

.hive-member-table tbody tr:not(.loading):hover td.edit
	{
	opacity: 1;
	}

img.icon
	{
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	}

img.icon.icon-disabled
	{
	cursor: default;
	opacity: .5;
	}

.anchor-style
	{
	cursor: pointer;
	}

div#photo div.panel-body .btn img
	{
	max-width: 75px;
	max-height: 75px;
	}

div#photo div.panel-body img
	{
	max-width: 500px;
	max-height: 190px;
	}
