.data_table
	{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
	}

.data_table tbody tr td.edit
	{
	opacity: 0;
	}

.data_table tbody tr:not(.loading):hover td.edit
	{
	opacity: 1;
	}

.data_table tbody tr:not(.loading):hover td:not(.edit)
	{
	background-color: #bbbbff;
	}

.data_table tbody tr.locked td:not(.edit)
	{
	background-color: #ffdddd;
	}

.data_table tbody tr.locked:hover td:not(.edit)
	{
	background-color: #ffbbff;
	}

.data_table tbody td
	{
	padding: 4px 8px !important;
	}

img.icon
	{
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
	}

img.icon.icon-disabled
	{
	cursor: default;
	opacity: .5;
	}

.anchor-style
	{
	cursor: pointer;
	}

.btn img
	{
	max-width: 75px;
	max-height: 75px;
	}
