@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900,400italic,700italic|Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@font-face
	{
	font-family: 'Glyphicons Halflings';
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot');
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot')   format('embedded-opentype'),
		url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('/static/fonts/glyphicons-halflings-regular.woff')  format('woff'),
		url('/static/fonts/glyphicons-halflings-regular.ttf')   format('truetype'),
		url('/static/fonts/glyphicons-halflings-regular.svg')   format('svg');
	}

.navbar
	{
	font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	}

.navbar .navbar-nav .nav-current a
	{
	color: #333;
	}

a.nawbar-brand
	{
	height: auto;
	}

.navbar-brand img
	{
	position: relative;
	height: 50px;
	}

@media (max-width: 767px)
	{
	.navbar-brand img
		{
		height: 40px;
		top: -10px;
		}
	}

@media (min-width: 768px)
	{
	.navbar-nav li a
		{
		line-height: 50px;
		}
	}

body
	{
	margin-top: 100px
	}

ol.accesses li.denied
	{
	background-color: #ff0000;
	}

.row-eq-height
	{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-align-content: flex-end;
	align-content: flex-end;
	}

.row-eq-height .panel
	{
	height: 100%;
	}

.u-w-100
	{
	width: 100% !important;
	}

.anchor-style
	{
	cursor: pointer;
	}

div.panel.hive-panel-access ol
	{
	list-style: none;
	}
div.panel.hive-panel-access ol li
	{
	cursor: pointer;
	}
div.panel.hive-panel-access ol li:before
	{
	content: "[+]";
	margin-right: 0.5em;
	}
div.panel.hive-panel-access ol li span.info
	{
	display: none;
	}
div.panel.hive-panel-access ol li.shown:before
	{
	content: "[-]";
	}
div.panel.hive-panel-access ol li.shown span.info
	{
	display: inline;
	}

.hive-panel-status div.panel-body
	{
	padding: 0;
	}

.hive-panel-status table
	{
	table-layout: fixed;
	width: 100%;
	}

.hive-panel-status table td
	{
	vertical-align: top;
	padding: 15px;
	width: 50%;
	}

.hive-panel-status table td h3
	{
	margin-top: 10px;
	text-align: center;
	text-decoration: underline;
	}

.hive-panel-status table td div.row > div
	{
	margin-top: 10px;
	}

.hive-panel-status table td:not(:last-child)
	{
	border-right: 1px solid #bce8f1;
	}

table.heatmap
	{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	}

table.heatmap thead tr th:first-child
	{
	width: 5em;
	}

table.heatmap thead tr th:not(:first-child)
	{
	text-align: center;
	border-bottom: 1px solid #000000;
	}

table.heatmap tbody tr:nth-child(4n) td:not(.time)
	{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

table.heatmap tbody tr td.time
	{
	border-right: 1px solid #000000;
	text-align: right;
	padding-right: 0.25em;
	}

table.heatmap tbody tr td.point
	{
	height: .3em;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	}

table.heatmap tbody tr td:last-child
	{
	border-right: 1px solid #000000;
	}

table.heatmap tbody tr:last-child td:not(.time)
	{
	border-bottom: 1px solid #000000;
	}
