@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900,400italic,700italic|Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@font-face
	{
	font-family: 'Glyphicons Halflings';
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot');
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot')   format('embedded-opentype'),
		url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('/static/fonts/glyphicons-halflings-regular.woff')  format('woff'),
		url('/static/fonts/glyphicons-halflings-regular.ttf')   format('truetype'),
		url('/static/fonts/glyphicons-halflings-regular.svg')   format('svg');
	}

div#navbar
	{
	height: 54px;
	padding-bottom: 25px;
	}

div#navbar img
	{
	width: 100px;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	}

div#navbar ul
	{
	margin: 0;
	padding: 0;
	}

div#navbar ul li
	{
	list-style: none;
	position: relative;
	float: left;
	padding: 0 2em 0 0;
	margin: 0;
	line-height: 54px;
	vertical-align: middle;
	}

div#navbar ul li a
	{
	text-decoration: none;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777777;
	font-size: 18px;
	}

div#navbar ul li.active a
	{
	color: #333333;
	}

div#navbar ul li a:hover,
div#navbar ul li a:focus
	{
	color: 333333;
	}

div#navbar ul li a::after
	{
	content: " \e080";
	font-family: "Glyphicons Halflings";
	margin-left: -1em;
	}

div#welcome
	{
	font-family: sans-serif;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 1.1em;
	border: 1px solid #999999;
	border-radius: 10px;
	padding: 10px 0px;
	background: #cccccc;
	}

div.info-box
	{
	border: 1px solid;
	border-radius: 5px;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 18px;
	text-align: center;
	position: relative;
	}

div.info-box.red-info-box
	{
	border-color: #FF0000;
	background: rgba(255, 0, 0, 0.2);
	}

div.info-box.blue-info-box
	{
	border-color: #0000FF;
	background: rgba(0, 0, 255, 0.2);
	}

.u-mb-0
	{
	margin-bottom: 0 !important;
	}
