@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900,400italic,700italic|Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);
@font-face
	{
	font-family: 'Glyphicons Halflings';
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot');
	src:
		url('/static/fonts/glyphicons-halflings-regular.eot')   format('embedded-opentype'),
		url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
		url('/static/fonts/glyphicons-halflings-regular.woff')  format('woff'),
		url('/static/fonts/glyphicons-halflings-regular.ttf')   format('truetype'),
		url('/static/fonts/glyphicons-halflings-regular.svg')   format('svg');
	}

div#navbar
	{
	height: 80px;
	padding-bottom: 25px;
	}

div#navbar img
	{
	height: 75%;
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	}

div#navbar ul
	{
	margin: 0;
	padding: 0;
	height: 100%;
	}

div#navbar ul li
	{
	list-style: none;
	position: relative;
	float: left;
	padding: 0 2em 0 0;
	margin: 0;
	vertical-align: middle;
	top: 50%;
	transform: translateY(-50%);
	}

div#navbar ul li a
	{
	text-decoration: none;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777777;
	font-size: 18px;
	}

div#navbar ul li.active a
	{
	color: #333333;
	}

div#navbar ul li a:hover,
div#navbar ul li a:focus
	{
	color: #555555;
	}

div#navbar ul li a::after
	{
	content: " \e080";
	font-family: "Glyphicons Halflings";
	margin-left: -1em;
	}

ol.accesses li.denied
	{
	background-color: #ff0000;
	}

.row-eq-height
	{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	-webkit-align-content: flex-end;
	align-content: flex-end;
	}

.row-eq-height .panel
	{
	height: 100%;
	}

.u-w-100
	{
	width: 100% !important;
	}

.anchor-style
	{
	cursor: pointer;
	}
