[%~
SWITCH application.final_result;
	CASE 'accepted';
		SET thing = 'approved';
	CASE 'rejected';
		SET thing = 'rejected';
	CASE 'withdrew';
		SET thing = 'marked as withdrawn';
	CASE 'expired';
		SET thing = 'marked as expired';
	CASE;
		SET thing = 'done something weird with';
END;
~%]
Hello Leadership,

[% action.queuing_member.fname %] [% action.queuing_member.lname %] has [% thing %] this application.

Sincerely,
intweb

[%~# vim:set filetype=tt2: ~%]
