<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
		<div class="panel panel-danger">
			<div class="panel-heading" style="text-align: center;">
				<h4>This is where you can curse the hell out of some poor souls.</h4>
			</div>
			<div class="panel-body" style="padding: 18px;">
			</div>
		</div>
	</div>
</div>

[%~ # vim:set filetype=tt2html: ~%]
