<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-xl-2 col-xl-offset-5">
		If an account exists with the e-mail address ([% email %]), reset instructions have been sent to it.  Please check your e-mail to continue.
	</div>
</div>
[%~ # vim:set filetype=tt2html: ~%]
