<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-xl-2 col-xl-offset-5">
		<form id="forgot" method="post">
			<span>To reset your password, please enter your e-mail address</span>
			<input type="text" id="email" length="30" name="email" required autofocus placeholder="E-mail address" class="form-control" />
			<input type="submit" value="Submit" class="btn btn-block btn-primary" /><br />
		</form>
	</div>
</div>
[%~ # vim:set filetype=tt2html: ~%]
