<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4 col-xl-2 col-xl-offset-5">
		<div class="alert alert-success">Your password has been updated.  Please proceed to log in.</div>
	</div>
</div>
[%~ # vim:set filetype=tt2html: ~%]
