<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hive13 Internal Web</title>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
	<link rel="stylesheet" href="[% Catalyst.uri_for('/static/css/jquery.toast.min.css') %]" type="text/css" />
	<link rel="stylesheet" href="[% Catalyst.uri_for('/static/css/main.css') %]" type="text/css" />
[%~ FOREACH link IN extra_css %]
	<link rel="stylesheet" href="[% link %]" type="text/css" />
[%~ END %]
	<script src="http://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
	<script src="[% Catalyst.uri_for('/static/js/jquery.toast.min.js') %]" type="text/javascript"></script>
</head>
<body>
	<div id="navbar">
		<img src="[% Catalyst.uri_for('/static/images/Hive13_Logo.png') %]" />
		<ul>
[%~ IF Catalyst.user_exists %]
			<li><a href="[% Catalyst.uri_for('/') %]">Home</a></li>
			<li><a href="[% Catalyst.uri_for('/logout') %]">Sign Out</a></li>
[%~ 	IF Catalyst.user.is_admin %]
			<li><a href="[% Catalyst.uri_for('/admin') %]">Administration</a></li>
[%~ 	END %]
			<li><a href="[% Catalyst.uri_for('/member/profile') %]">My profile</a></li>
[%~ ELSE %]
			<li><a href="[% Catalyst.uri_for('/login') %]">Sign In</a></li>
			<li><a href="[% Catalyst.uri_for('/member/register') %]">Register</a></li>
[%~ END %]
		</ul>
	</div>
	<div id="content">
[% content %]
	</div>
</body>
</html>
[%~ # vim:set filetype=tt2html: ~%]
