Hello Storage Admin,

A
[%= IF request.slot_id =%]
renewal
[%~ END ~%]
has been submitted for storage slot [% request.slot.name %].

Requestor: [% request.member.fname %] [% request.member.lname %]
[%~ IF request.type_id %]
Type: [% request.type.name %]
[%~ END %]

Notes:
[% request.notes %]

Thank you,
intweb

[%~# vim:set filetype=tt2: ~%]
