[%~
	IF request.slot_id;
		SET type = 'renew';
	ELSE;
		SET type = 'request';
	END;
~%]

Hello Storage Admin,

[%- IF request.slot_id %]
A renewal request has been submitted for slot [% request.slot.name %].
[%~ ELSE %]
A request has been submitted for a storage slot.
[%~ END %]

Requestor: [% request.member.fname %] [% request.member.lname %]
[%~ IF request.type_id %]
Type: [% request.type.name %]
[%~ END %]

Notes:
[% request.notes %]

Thank you,
intweb

[%~# vim:set filetype=tt2: ~%]
