.u-w-100
	{
	width: 100% !important;
	}

.u-mw-100
	{
	max-width: 100% !important;
	}

.anchor-style,.u-anchor-style
	{
	cursor: pointer;
	}

.u-text-center
	{
	text-align: center;
	}
.u-text-right
	{
	text-align: right;
	}

.u-dis-none
	{
	display: none !important;
	}

@size0: 0     !important;
@size1: 0.5em !important;
@size2: 1em   !important;

.u-p
	{
	&-0
		{
		padding: @size0;
		}
	&-1
		{
		padding: @size1;
		}
	&-2
		{
		padding: @size2;
		}
	}

.u-pr
	{
	&-0
		{
		padding-right: @size0;
		}
	&-1
		{
		padding-right: @size1;
		}
	&-2
		{
		padding-right: @size2;
		}
	}

.u-f-r
	{
	float: right !important;
	}
