[%~ PERL ~%]
$stash->set('subject', 'Hive13 intweb password reset');
[%~ END ~%]
To reset your password, please follow this link:
[% base_url %]forgot_password/[% token.token_id %]

This link will expire in 24 hours.

If you did not request this password reset, please ignore this message.
If you do nothing, your password will not be changed.


[%~# vim:set filetype=tt2: ~%]
